<section class="block">
  <h2 class="block__heading">
    <span class="block__color">Find</span> your dream
    <i class="fa-solid fa-camera"></i> Destinations
  </h2>
  <p class="block__body">
    Learn about tourism and you'll be amazed by all the experiences you'll find
  </p>
</section>

<section class="block--dark">
  <h2 class="block__heading">
    <span class="block__color">Find</span> your dream
    <i class="fa-solid fa-camera"></i> Destinations
  </h2>
  <p class="block__body">
    Learn about tourism and you'll be amazed by all the experiences you'll find
  </p>
</section>
