<div class="wrapper">
  <div class="card">
    <!-- The background image -->
    <figure class="card__thumbnail">
      <img src="./images/beach.jpg" />
      <span class="card__title">Using IMG tag inside a container</span>
    </figure>
  </div>

  <div class="card">
    <!-- The background image -->
    <figure class="card__thumbnail">
      <img src="./images/sanfrascisco.jpg" />
      <span class="card__title">Using IMG tag inside a container</span>
    </figure>
  </div>
  <div class="card">
    <!-- The background image -->
    <figure class="card__thumbnail">
      <img src="./images/desert.jpg" />
      <span class="card__title">Using IMG tag inside a container</span>
    </figure>
  </div>
  <div class="card">
    <!-- The background image -->
    <figure class="card__thumbnail">
      <img src="./images/sanfrasciscotoo.jpg" />
      <span class="card__title">Using IMG tag inside a container</span>
    </figure>
  </div>
</div>
