<div class="media">
  <div class="media__image">
    <i class="fa-solid fa-person-hiking fa-3x"></i>
  </div>
  <div class="media__body">
    <h3 class="media__title">Hiking</h3>
    <p class="media__content">Climbing the tallest mountain</p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <i class="fa-solid fa-person-swimming fa-3x"></i>
  </div>
  <div class="media__body">
    <h3 class="media__title">Surfing</h3>
    <p class="media__content">Surfing is the next best thing to have</p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <i class="fa-solid fa-parachute-box fa-3x"></i>
  </div>
  <div class="media__body">
    <h3 class="media__title">Parachuting</h3>
    <p class="media__content">It feels more like flying than faling</p>
  </div>
</div>
